h1{
    font-size: $xxx-large;
    font-family: $Raleway;
    font-weight: $bold;
    padding-bottom: 30px;
}

h2{
    font-size: $xx-large;
    font-family: $Raleway;
    font-weight: $bold;
    text-align: center;
}

h3{
    font-family: $Raleway;
    font-weight: $bold;
    font-size: $x-large;
    padding-bottom: 18px;

}

h4{
    font-family: $Raleway;
    font-size: $x-large;
    padding-bottom: 18px;
}

h5{
    font-family: $Raleway;
    font-size: $xx-large;
    font-weight: $bold;
    padding-bottom: 18px;
}

p{
    line-height: 25px;
    font-size: $medium;
    font-family: $Raleway;
}