// Brakpoints
$viewport-xsmall: 375px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;

// Numbers of Columns
$number-columns: 12;

// Primer esquema de colores
$white: #fff;
$platinum: #e6e7e7;
$gray: #bababa;

//Segundo esquma de colores
$dark-salmon:#ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;

//Tercer esquema de colores
$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-laggon: #b1e4ed;

//Cuarto esquema de colores
$onyx:#333745;
$spanish-gray: #8f9199;
$lavender-gray: #c7c8cc;

//Quinto esquema de colores
$raising-black: #221d23;
$nickel:#726f73;
$silver-chalice: #aeacaf;

//Tipografías
$Raleway: 'Raleway', 'sans-serif';
$Open-Sans:'Open Sans', 'sans-serif';


//Peso de fuentes
$regular: 400;
$bold: 700;

//Tamaño de fuentes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 25px;
$large:20px;
$medium: 16px;
$small: 14px;

//Buttons size
$medium-button: 200px;
$small-button: 100px;
