$viewport-xsmall: 375px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;

$number-columns: 12;

$white: #fff;
$platinum: #e6e7e7;
$gray: #bababa;

$dark-salmon:#ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;

$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-laggon: #b1e4ed;

$onyx:#333745;
$spanish-gray: #8f9199;
$lavender-gray: #c7c8cc;

$raising-black: #221d23;
$nickel:#726f73;
$silver-chalice: #aeacaf;

$Raleway: 'Raleway', 'sans-serif';
$Open-Sans:'Open Sans', 'sans-serif';

$regular: 400;
$bold: 700;

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 25px;
$large:20px;
$medium: 16px;
$small: 14px;

$medium-button: 200px;
$small-button: 100px;
