.main__about{
    width: 29%;
    padding-top: 4%;
    padding-left: 6%;
    }
    
    @media (max-width: $viewport-medium){
    .main__about{
    width: 32%;
    padding-top: 6%;
    padding-left: 12%;
    }
    }
    
    @media (max-width: $viewport-xsmall){
    .main__about{
    width: 71%;
    padding-top: 15%;
    padding-left: 15%;
    }
    }
    
    
    .main__fondo{
    background-image: url("../img/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130vh;
    background-position: right bottom;
    }
    
    @media (max-width: $viewport-medium){
    .main__fondo{
        background-image: url("../img/bg-hero.svg");
        background-repeat: no-repeat;
        background-size: 133%;
        height: 70vh;
        background-position: right bottom;
        }
    }
    
    @media (max-width: $viewport-xsmall){
    .main__fondo{
    background-image: url("../img/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: 133%;
    height: 92vh;
    background-position: right bottom;
    }
    }